<ul id="nav">
  <li class="current">
      <a href="Dashboard.aspx">
          <i class="icon-dashboard"></i>
          Dashboard
      </a>
  </li>
  <li>
      <a href="javascript:void(0);">
          <i class="icon-desktop"></i>
          API
      <i class="arrow icon-angle-left"></i></a>
      <ul class="sub-menu">
          <li><a href="../FileUpload/RptStatus/HTTP_API_Documentation.pdf" target="_blank">
              <i class="icon-angle-right"></i>
              API Document
          </a>
          </li>
          <li><a href="../FileUpload/RptStatus/Latest_HTTP_API_Documentation2.pdf" target="_blank">
              <i class="icon-angle-right"></i>
              New API Document 2.0
          </a>
          </li>
      </ul>
  </li>
  <li>
      <a href="javascript:void(0);">
          <i class="icon-edit"></i>
          Send SMS
      <i class="arrow icon-angle-left"></i></a>
      <ul class="sub-menu">
          <li id="liQuickSMS" class="disabled" onclick="return true;" title="">
              <a href="QuickSMS.aspx">
                  <i class="icon-angle-right"></i>
                  Quick SMS
              </a>
          </li>
          
          <li id="liAdvanceSMS" class="disabled" onclick="return true;" title="">
              <a href="AdvanceSMS.aspx">
                  <i class="icon-angle-right"></i>
                  Advance SMS
              </a>
          </li>
          <li id="linkC" class="disabled" onclick="return true;" title="You have not Subscribe this Feature">
              <a href="CustomizeSMS.aspx">
                  <i class="icon-angle-right"></i>
                  Customize SMS 
              </a>
          </li>
          <li id="linkO" class="disabled" onclick="return true;" title="">
              <a href="#">
                  <i class="icon-angle-right"></i>
                  Opt-in SMS
              </a>
          </li>
      </ul>
  </li>
  
  <li id="liWhatsapp" class="disabled" onclick="return false;" title="You have not Subscribe this Feature">
              <a href="Whatsapp.aspx">
                 <i class="fa fa-whatsapp" style="font-size:16px"></i>
                  Whatsapp
              </a>
          </li>

  
  <li>
      <a href="javascript:void(0);">
          <i class="icon-table"></i>
          Manage Items
      <i class="arrow icon-angle-left"></i></a>
      <ul class="sub-menu">
          


          
          

          <li>
              <a href="ManageSenderID.aspx">
                  <i class="icon-angle-right"></i>
                  Manage SenderID
              </a>
          </li>
          <li>
              <a href="ManageTemplate.aspx">
                  <i class="icon-angle-right"></i>
                  Manage Template
              </a>
          </li>
           <li id="liWhatsappTemplate" class="disabled" onclick="return false;" title="You have not Subscribe this Feature">
              <a href="AddEditWhatsAppTemplate.aspx">
                  <i class="icon-angle-right"></i>
                  Manage Whatsapp Template
              </a>
          </li>
          <li id="licreateChatbot" class="disabled" onclick="return false;" title="You have not Subscribe this Feature">
              <a href="CreateChatBOT.aspx">
                  <i class="icon-angle-right"></i>
                  Manage ChatBot
              </a>
          </li>
          <li id="licreateAgent" class="disabled" onclick="return false;" title="You have not Subscribe this Feature">
              <a href="CreateAndAssignAgent.aspx">
                  <i class="icon-angle-right"></i>
                  Create and Assign Agent
              </a>
          </li>
          <li>
              <a href="ManageGroup.aspx">
                  <i class="icon-angle-right"></i>
                  Manage Group
              </a>
          </li>

          
          
          
             <li id="liManageAudioNew" class="disabled" onclick="return false;" title="You have not Subscribe this Feature">
              <a href="ManageAudioNew.aspx">
                  <i class="icon-angle-right"></i>
                  Manage Whatsapp Audio
              </a>
          </li>
      </ul>
  </li>
  <li>
      <a href="#">
          <i class="icon-bar-chart"></i>
          View Reports
      <i class="arrow icon-angle-left"></i></a>

      <ul class="sub-menu">

          <li id="lnkQuickReport" class="disabled" onclick="return true;" title="">
              <a href="QuickSMSReport.aspx">
                  <i class="icon-angle-right"></i>
                  Quick SMS Report
              </a>
          </li>
          <li id="liWhatsappReport" class="disabled" onclick="return false;" title="You have not Subscribe this Feature">
              <a href="WhatsappReportNew.aspx">
                  <i class="icon-angle-right"></i>
                  Whatsapp Report</a>
          </li>
           
          <li id="lnkAdvanceReport" class="disabled" onclick="return true;" title="">
              <a href="AdvanceSMSReport.aspx">
                  <i class="icon-angle-right"></i>
                  Advance SMS Report
              </a>
          </li>
           <li id="LichatbotconvReport" class="disabled" onclick="return false;" title="You have not Subscribe this Feature">
              <a href="ChatbotConversationReport.aspx">
                  <i class="icon-angle-right"></i>
                  Chatbot Conversation Report
              </a>
          </li>
           <li id="LiViewcountReport" class="disabled" onclick="return false;" title="You have not Subscribe this Feature">
              <a href="ViewCountReport.aspx">
                  <i class="icon-angle-right"></i>
                  Chatbot View Count Report
              </a>
          </li>
          <li id="lnkCustomizeReport" class="disabled" onclick="return false;" title="You have not Subscribe this Feature">
              <a href="CustomizeSMSReport.aspx">
                  <i class="icon-angle-right"></i>
                  Customize SMS Report
              </a>
          </li>
          <li id="lnkOptinReport" class="disabled" onclick="return true;" title="">
              <a href="OptinReport.aspx">
                  <i class="icon-angle-right"></i>
                  Opt-in SMS Report
              </a>
          </li>
          <li id="liAPIReport" class="disabled" onclick="return true;" title="">
              <a href="APIReport1.aspx">
                  <i class="icon-angle-right"></i>
                  API / Test SMS Reports</a>
          </li>
          <li id="liAPIReport1" class="disabled" onclick="return true;" title="">
              <a href="APIReport.aspx">
                  <i class="icon-angle-right"></i>
                  Detailed API / Test SMS Reports</a>
          </li>
          <li>
              <a href="ScheduleSMSReport.aspx">
                  <i class="icon-angle-right"></i>
                  Schedule SMS Report
              </a>
          </li>

          
          

          <li>
              <a href="ViewMISReport.aspx">
                  <i class="icon-angle-right"></i>
                  MIS Report</a>
          </li>

          <li id="liRefundReport" class="disabled" onclick="return true;" title="">
              <a href="RefundReport.aspx">
                  <i class="icon-angle-right"></i>
                  Refund Report</a>
          </li>
              <li id="li1" class="disabled" onclick="return false;" title="You have not Subscribe this Feature">
              <a href="CampiagnHistoryReport.aspx">
                  <i class="icon-angle-right"></i>
                  Campiagn History Report</a>
          </li>
          
           
          
      </ul>

  </li>
  <li>
      <a href="#">
          <i class="icon-bar-chart"></i>
          Settings 

      <i class="arrow icon-angle-left"></i></a>

      <ul class="sub-menu">
          <li>
              <a href="ChangePassword.aspx">
                  <i class="icon-folder-open-alt"></i>
                  Change Password

              </a>
          </li>
          <li>
              <a href="MyProfile.aspx">
                  <i class="icon-angle-right"></i>
                  My Profile
              </a>
          </li>

          <li>
              <a href="Notification.aspx">
                  <i class="icon-angle-right"></i>
                  Notification
              </a>
          </li>

      </ul>

  </li>



</ul>