
    <!-- <div class="col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-reorder"></i>Add New SMS Template</h4>
                <div class="toolbar no-padding">
                    <div class="btn-group">
                        <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                    </div>
                </div>
            </div>
            <div class="widget-content" style="overflow-x: scroll">

                <div class="form-horizontal row-border">
                    <div class="form-group ">
                    <div class="col-md-3">
                            <label>Type</label>
                          <label style="color: red">*</label>
                        </div> 
                            <div class="col-md-5">
                                <span class="radio-inline"><input id="ContentPlaceHolder1_rbSMS" type="radio" name="ctl00$ContentPlaceHolder1$SMSType" value="rbSMS" checked="checked"><label for="ContentPlaceHolder1_rbSMS">SMS</label></span>
                                <span class="radio-inline"><input id="ContentPlaceHolder1_rbMYSMS" type="radio" name="ctl00$ContentPlaceHolder1$SMSType" value="rbMYSMS" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$rbMYSMS\',\'\')', 0)"><label for="ContentPlaceHolder1_rbMYSMS">MY SMS</label></span> 
                                <span class="radio-inline"><input id="ContentPlaceHolder1_rbAndroidNotification" type="radio" name="ctl00$ContentPlaceHolder1$SMSType" value="rbAndroidNotification" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$rbAndroidNotification\',\'\')', 0)"><label for="ContentPlaceHolder1_rbAndroidNotification">Android Notification</label></span>     
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Sender ID : </label>

                        </div>
                      <div class="col-md-5">
                            <div class="select2-container select2 full-width-fix" id="s2id_ddlSenderID" style="width: 410px;"><a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">   <span class="select2-chosen">--Select--</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow"><b></b></span></a><input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen3"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input">   </div>   <ul class="select2-results">   </ul></div></div><select name="ctl00$ContentPlaceHolder1$ddlSenderID" id="ddlSenderID" class="select2 full-width-fix select2-offscreen" tabindex="-1">
<option value="0">--Select--</option>
<option value="4033">NUEVAS</option>
<option value="4034">TRKZIA</option>

</select>
                        </div>
                    </div>
                    <div id="ContentPlaceHolder1_uppanel1">

                            
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label>Template Name  : </label>

                                </div>
                                <div class="col-md-5">

                                    <input name="ctl00$ContentPlaceHolder1$txtTempName" type="text" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$txtTempName\',\'\')', 0)" onkeypress="if (WebForm_TextBoxKeyHandler(event) == false) return false;" id="ContentPlaceHolder1_txtTempName" class="form-control" placeholder="Template Name">
                                </div>
                                <div class="col-md-3">
                                    
                                </div>
                            </div>
                        
</div>

                    

                   
                    <div class="form-group">
                        <div class="col-md-12">
                            
                            <div class="alert alert-info fade in ">
                                
                                 <span><strong> Info!  </strong>
                                    One variable {#var#} = 30 characters only. Choose the number of variables accordingly.</span>
                                 <br>
                                <span><strong> Info!  </strong> 
                                     While creating the Content of Template (Both Copy paste and Create New Message option)-It is mandatory to mention the Brand Name (Complete Business Name/Brand Name/Trademark) in the content field.</span>
                            </div>
                        </div>
                        <div class="col-md-3">

                            <label>Template Content :</label>
                        </div>
                        <div class="col-md-5">
                            <textarea name="ctl00$ContentPlaceHolder1$txtTempContent" rows="2" cols="20" id="ContentPlaceHolder1_txtTempContent" class="form-control" placeholder="Template Content"></textarea>
                        </div>

                    </div>

                       <div class="form-group">
                        <div class="col-md-3">

                            <label>Template Id :</label>
                        </div>
                        <div class="col-md-5">
                            <input name="ctl00$ContentPlaceHolder1$txtTempId" type="number" id="ContentPlaceHolder1_txtTempId" class="form-control" placeholder="Template Id" min="10">
                        </div>

                    </div>


                    <div class="form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-4">
                            <input type="submit" name="ctl00$ContentPlaceHolder1$btnSubmit" value="Submit" onclick="return Validation();" id="ContentPlaceHolder1_btnSubmit" title="Submit" class="btn btn-success">
                            <input type="submit" name="ctl00$ContentPlaceHolder1$btnCancel" value="Cancel" id="ContentPlaceHolder1_btnCancel" title="Cancel" class="btn btn-danger">
                        </div>

                    </div>
                </div>
               

            </div>

        </div>
    </div> -->

    <form>
        <div class="col-md-12">
            <div class="widget box">
                <div class="widget-header">
                    <h4><i class="icon-reorder"></i>Add New SMS Template</h4>
                    <div class="toolbar no-padding">
                        <div class="btn-group">
                            <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                        </div>
                    </div>
                </div>
                <div class="widget-content" style="overflow-x: scroll">
                    <div class="form-horizontal row-border">
                        <div class="form-group ">
                        <div class="col-md-3">
                                <label>Type</label>
                              <label style="color: red">*</label>
                            </div> 
                                <div class="col-md-5">
                                    <span class="radio-inline"><input id="ContentPlaceHolder1_rbSMS" type="radio" name="ctl00$ContentPlaceHolder1$SMSType" value="rbSMS" checked="checked"><label for="ContentPlaceHolder1_rbSMS">SMS</label></span>
                                    <span class="radio-inline"><input id="ContentPlaceHolder1_rbMYSMS" type="radio" name="ctl00$ContentPlaceHolder1$SMSType" value="rbMYSMS" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$rbMYSMS\',\'\')', 0)"><label for="ContentPlaceHolder1_rbMYSMS">MY SMS</label></span> 
                                    <span class="radio-inline"><input id="ContentPlaceHolder1_rbAndroidNotification" type="radio" name="ctl00$ContentPlaceHolder1$SMSType" value="rbAndroidNotification" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$rbAndroidNotification\',\'\')', 0)"><label for="ContentPlaceHolder1_rbAndroidNotification">Android Notification</label></span>     
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Sender ID : </label>
    
                            </div>
                          <div class="col-md-5">
                                <div class="select2-container select2 full-width-fix" id="s2id_ddlSenderID" style="width: 410px;"><a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">   <span class="select2-chosen">--Select--</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow"><b></b></span></a><input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen3"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input">   </div>   <ul class="select2-results">   </ul></div></div><select name="ctl00$ContentPlaceHolder1$ddlSenderID" id="ddlSenderID" class="select2 full-width-fix select2-offscreen" tabindex="-1">
    <option value="0">--Select--</option>
    <option value="4033">NUEVAS</option>
    <option value="4034">TRKZIA</option>
    
    </select>
                            </div>
                        </div>
                        <div id="ContentPlaceHolder1_uppanel1">
    
                                
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>Template Name  : </label>
    
                                    </div>
                                    <div class="col-md-5">
    
                                        <input name="ctl00$ContentPlaceHolder1$txtTempName" type="text" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$txtTempName\',\'\')', 0)" onkeypress="if (WebForm_TextBoxKeyHandler(event) == false) return false;" id="ContentPlaceHolder1_txtTempName" class="form-control" placeholder="Template Name">
                                    </div>
                                    <div class="col-md-3">
                                        
                                    </div>
                                </div>
                            
    </div>
    
                        
    
                       
                        <div class="form-group">
                            <div class="col-md-12">
                                
                                <div class="alert alert-info fade in ">
                                    
                                     <span><strong> Info!  </strong>
                                        One variable  = 30 characters only. Choose the number of variables accordingly.</span>
                                     <br>
                                    <span><strong> Info!  </strong> 
                                         While creating the Content of Template (Both Copy paste and Create New Message option)-It is mandatory to mention the Brand Name (Complete Business Name/Brand Name/Trademark) in the content field.</span>
                                </div>
                            </div>
                            <div class="col-md-3">
    
                                <label>Template Content :</label>
                            </div>
                            <div class="col-md-5">
                                <textarea name="ctl00$ContentPlaceHolder1$txtTempContent" rows="2" cols="20" id="ContentPlaceHolder1_txtTempContent" class="form-control" placeholder="Template Content"></textarea>
                            </div>
    
                        </div>
    
                           <div class="form-group">
                            <div class="col-md-3">
    
                                <label>Template Id :</label>
                            </div>
                            <div class="col-md-5">
                                <input name="ctl00$ContentPlaceHolder1$txtTempId" type="number" id="ContentPlaceHolder1_txtTempId" class="form-control" placeholder="Template Id" min="10">
                            </div>
    
                        </div>
    
    
                        <div class="form-group">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-4">
                                <input type="submit" name="ctl00$ContentPlaceHolder1$btnSubmit" value="Submit" onclick="return Validation();" id="ContentPlaceHolder1_btnSubmit" title="Submit" class="btn btn-success">
                                <input type="submit" name="ctl00$ContentPlaceHolder1$btnCancel" value="Cancel" id="ContentPlaceHolder1_btnCancel" title="Cancel" class="btn btn-danger">
                            </div>
    
                        </div>
                    </div>
                   
    
                </div>
                </div>
            </div>
        
    </form>
    




