
<div class="toolbar" role="banner">
    <img
    height="50px"
      width="40"
      alt="Angular Logo"
      src=" https://img.icons8.com/?size=80&id=3CeVOxYg5BH6&format=png"
    />
    <span id="spn">My SMS!</span>
    
   
    <div class="dropdown"   style="position: relative; left:100px;border: 1px solid black;width:9rem;height:40px;background-color: #ed9885;font-family: sans-serif;font-size: medium;"> 
      <p style="padding: 10px;text-align: center;margin-bottom: 10px;">Balance:</p>
      <!-- <button id="blbtn" for="dropdownContent1" style="position: relative; left:150px"></button> -->        
      <!-- <h6  style="position: relative; right:150px;border: 1px solid black;background-color:#ed9885 ;">Balance:</h6> -->
      <div class="dropdown-content" id="dropdownContent" style="left: 60px;width: 200px; top: 39px;">
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/5094/5094489.png" height="16px" width="16px" />SMS: {{count}}</a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/156/156974.png"   height="16px" width="16px" />MySMS : 0</a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/3239/3239958.png" height="16px" width="16px" />Notification : 0</a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/1384/1384095.png" height="16px" width="16px" />Whatsapp : 0</a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/1062/1062678.png" height="16px" width="16px" />Voicecall : 0</a>
      </div>
     </div> 


    <!-- <label for="cars">Balance</label>
    <select formControlName="sender" name="cars" id="cars">
      <option selected="">--Select--</option>
      <option value="NUEVAS">NUEVAS</option>
      <option value="TRKZIA">TRKZIA</option>
  </select> -->
  
    <!-- <select name="" id="balance">
      <option selected>BALANCE</option>
      <option>SMS:320</option>
      <option>MySMS:0</option>
      <option>Notification:0</option>
      <option>Whatsapp:0</option>
      <option>Voicecall:0</option>
    </select> -->
    <!-- <div class="dropdown1">
      <button class="dropbtn1" onclick="toggleDropdown()">BALANCE<i class="fas fa-caret-down"></i></button>
      <div class="dropdown-content1" id="dropdownContent">
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/5264/5264565.png" height="15px" width="15px" />My Profile</a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/3064/3064155.png" height="15px" width="15px" />Change Password</a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/12468/12468187.png" height="15px" width="15px" />Bank Details</a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/1286/1286853.png" height="15px" width="15px" />Logout</a>
      </div>
    </div> -->

  
  
    <!-- <p class="date">Date Time:{{date:"dd-MM-yyyy-HH:mm:ss"}}</p> -->
    <div class="spacer"> 

      <!-- <div class="morq">
        <marquee id="marquee" style="color: #94ee08;font-size: 15px; font-weight: bold; padding-top: 7px;">View DLT Approved Sender ID List in Support Section 🡺 </marquee>
      </div> -->
      
         <div class="menu">
           <img src="https://cdn-icons-png.flaticon.com/128/6745/6745019.png" id="warning" height="25px" width="25px" />
            <!-- <img src="https://cdn-icons-png.flaticon.com/128/2374/2374449.png" id="mail" height="20px" width="20px" /> -->
            <!-- <img src="https://cdn-icons-png.flaticon.com/128/4440/4440953.png" id="mainimg" height="20px" width="20px">  -->
            <!-- <label id="loginlbl" for="">Login</label> -->
            <div class="dropdown">
              <!-- <button class="dropbtn"  >DEMO<i class="fas fa-caret-down"></i></button> -->
                 <p style="margin-right: 10px;">DEMO:</p>
              <div class="dropdown-content" id="dropdownContent"  style="right:-40px; top:25px;">
                <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/5264/5264565.png" height="15px" width="15px" />My Profile</a>
                <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/3064/3064155.png" height="15px" width="15px" />Password</a>
                <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/12468/12468187.png" height="15px" width="15px" />Bank Details</a>
                <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/1286/1286853.png" height="15px" width="15px" />Logout</a>
              </div>
            </div>
            
         </div>

    </div>
    
  </div>